* {
  background-color: rgb(255, 219, 219);
  /* color: rgb(63, 40, 40); */
}

.center {
  text-align: center;
}

/*index.html*/

.center_image {
  height: auto;
  width: 200px;
  display: flex;
  margin: auto;
  border: 10px dashed white;
}

.center_image.r_image {
  height: 250px;
  width: auto;
}

/*index.html centered list using flex*/
.recipe_list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 5px;
  margin: auto;
  border: 2px double black;
  background-color: bisque;
}

.recipe_list li {
  margin: auto;
  flex: auto;
  background-color: brown;
  padding: 1em;
  margin: 3px;
  border: 1px groove gold;
}

.recipe_list a {
  /* display: inline-flex; */
  background-color: brown;
  color: yellow;
  /* font-size: 10px; */
}

/*holds full recipe content*/
.content_container {
  background-color: burlywood;
  padding: 1em;
  margin-top: 1em;
}

.content_container h4 {
  margin-top: 0;
  padding-left: 1em;
  text-decoration: underline dotted;
  text-decoration-thickness: auto;
}

.description_section,
.ingredient_list,
.steps_list {
  padding: 1em;
}

/*the description section on each recipe page*/
.description_section{
  border: 5px solid goldenrod;
}

.description_section,
.description_section > h4,
.description_section > p,
.description_section > h4 + p > em {
  background-color: black;
  color: gold;
}

.description_section > p {
  text-align: center;
}

/*the ingredient section on each recipe page*/
.ingredient_list {
  border: 5px double gold;
  margin: 1em 0;
}

.ingredient_list,
.ingredient_list > h4,
.ingredient_list > ul,
.ingredient_list > ul > li, 
.ingredient_list em,
.ingredient_list strong{
  background-color: darkred;
  color: gold;
}

/*the steps section on each recipe page*/
.steps_list {
  border: 5px dashed black;
}

.steps_list,
.steps_list h4,
.steps_list ol,
.steps_list li,
.steps_list em,
.steps_list strong {
  background-color: grey;
  color: white;
}

.steps_list li {
  list-style-type: decimal-leading-zero;
  margin-bottom: 2em;
}


