* {
  background-color: rgb(255, 219, 219);
  color: rgb(63, 40, 40);
}

.center {
  text-align: center;
}


/*index.html*/

.center_image{
  height: auto;
  width: 200px;
  display: flex;
  margin: auto;
  border: 10px dashed white;
}

.center_image.r_image {
  height: 250px;
  width: auto;
}


/*index.html centered list using flex*/
.inline{
  display: flex;
  list-style: none;
  padding: 10px 3px;
  margin:auto;
  border:2px double black;
  background-color: bisque;
}

.inline li {
  margin: auto;
  flex: 1;
  background-color: brown;
  padding: 5px;
  margin: 0 3px;
  border: 1px groove gold;
}

.inline a{
  display: inline-flex;
  background-color: brown;
  color: yellow;
  font-size: 10px;
}

.content_container {
  background-color: burlywood;
}

/*the fact i need to do this is why CSS sucks ass, 
still don't fully understand why this happens*/
.content_container h4,
ul,
li,
ol,
a,
p,
em,
strong {
  background-color: burlywood;
}

h4.ingredient_background {
  background-color: darkred;
  color: white;
}
.ingredient_background {
  background-color: darkred;
  color: gold;
}
